* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

:root {
    /* color */
    --white: #fff;
    --yellow: #ffc107;
    --blue: #062dc7;
    --blue-2: #2850ed;
    --blue-3: #3b60f5;
    /*  */
    --primery: #007bff;

    /* background color */
    --background-filter-color: rgba(6, 45, 199, 0.200);
    --background-warning: #c13e29;

}